<header>
    <img src="assets/img/Renata.jpg" 
    alt="Renata Werneck de Macedo"
    width="130px"
    height="130px"
    loading="eager"
    />
        <h1>
            Renata Werneck de Macedo
        </h1>
</header>



<aside>
    <div class="container">
        <p>Desenvolvedora Full-Stack |Angular | .Net c# </p>
        <p>Brasil</p>

        <nav>
            <ul>
                <li>
                    <a href="https://github.com/rwmacedo" target="_blank" class="btn btn-primary">
                       <img src="assets/img/github-logo.png" alt="github">Github
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/renata-werneck-de-macedo/" target="_blank" class="btn btn-secundary">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img src="assets/img/WhatsApp_Logo30.png" 
                alt="icone para contato do whatsapp"
               
                >
                <figcaption>
                    <a href="https://wa.me/5522998007540" target="_blank">
                        <strong>Envie uma mensagem para:</strong>
                        <p>Whatsapp: (22) 99800-7540</p>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <img src="assets/img/email.png" 
                alt="icone para contato do e-mail"
                width= "60px"
                height="60px"
                />
                <figcaption>
                    <a href="mailto:rwmacedo@gmail.com" target="_blank">
                        <strong>Envie um e-mail para:</strong>
                        <p>rwmacedo&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>

    </div>
</aside>